# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# RP2040 with "USB" or "CAN bus (on gpio4/gpio5)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBCan]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: 2f2e0d9c23e8

[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBBCan:gpio28

[adxl345]
cs_pin: EBBCan:gpio1
spi_software_sclk_pin: EBBCan:gpio2
spi_software_mosi_pin: EBBCan:gpio0
spi_software_miso_pin: EBBCan:gpio3
axes_map: z,-y,x

[resonance_tester]
probe_points: 100, 100, 20
accel_chip: adxl345

[extruder]
step_pin: EBBCan:gpio18
dir_pin: !EBBCan:gpio19
enable_pin: !EBBCan:gpio17
microsteps: 16
#rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
## From old config
gear_ratio: 50:10 #Stealthburner/Clockwork2
full_steps_per_rotation: 200 # 200 for 1.8deg 400 for 0.9deg
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point 22.225372078 is tims calculated in 2021  
##  rotation_distance: 22.325372078
rotation_distance: 21.64668076   #Bondtech 5mm Drive Gears
## rotation_distance: 22.6789511
pressure_advance: 0.02
heater_pin: EBBCan:gpio7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EBBCan:gpio27
control: pid
pid_Kp: 33.501
pid_Ki: 4.379
pid_Kd: 64.069
 ## from tuning  pid_Kp=33.501 pid_Ki=4.379 pid_Kd=64.069
min_temp: 0
max_temp: 300

# sensor_type: MAX31865
# sensor_pin: EBBCan:gpio9
# spi_software_sclk_pin: EBBCan:gpio10
# spi_software_mosi_pin: EBBCan:gpio8
# spi_software_miso_pin: EBBCan:gpio11
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: EBBCan:gpio20
run_current: 0.650
stealthchop_threshold: 999999

[fan]
pin: EBBCan:gpio13
off_below: 0.10
kick_start_time: 0.5

[controller_fan ebb_fan]
pin: EBBCan:gpio14
fan_speed: 0.8
heater: extruder

[heater_fan hotend_fan]
pin: EBBCan:gpio15
tachometer_pin: ^EBBCan:gpio12
tachometer_ppr: 2
tachometer_poll_interval: 0.00040
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0


##  LED's are set up in the sb_led.cfg file

#[neopixel hotend_rgb]
#pin: EBBCan:gpio16
#chain_count: 3
#initial_RED: 0.2
#initial_GREEN: 0.2
#initial_BLUE: 0.2
#initial_WHITE:0.6
#color_order: GRBW
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.

#[bltouch]
#sensor_pin: ^EBBCan:gpio21
#control_pin: EBBCan:gpio22

## Probe configuration is maintained in printer.cfg so PROBE_CALIBRATE
## can save z_offset through Klipper SAVE_CONFIG.




