

#####################################
# Front Hotkey Board
#####################################
# Seven physical buttons are installed and used: B1 through B7.
# Button actions and LED state helpers are maintained in macros.cfg.

#####################################
# User Config
#####################################

[mcu hotkey]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E66118F5D7555836-if00 
restart_method: command

[neopixel hotkey_leds]
pin: hotkey: gpio29
chain_count: 24
color_order: GRB
initial_RED: 0.1
initial_GREEN: 0.0
initial_BLUE: 0.0

# Settings for the Buttons
[gcode_button b1]
pin: ^!hotkey: gpio2
press_gcode: _BUTTON_B1

[gcode_button b2]
pin: ^!hotkey: gpio3
press_gcode: _BUTTON_B2

[gcode_button b3]
pin: ^!hotkey: gpio4
press_gcode: _BUTTON_B3

[gcode_button b4]
pin: ^!hotkey: gpio5
press_gcode: _BUTTON_B4

[gcode_button b5]
pin: ^!hotkey: gpio6
press_gcode: _BUTTON_B5

[gcode_button b6]
pin: ^!hotkey: gpio7
press_gcode: _BUTTON_B6

[gcode_button b7]
pin: ^!hotkey: gpio8
press_gcode: _BUTTON_B7


# Button LED color variables and helper macros are defined in macros.cfg.

