# Voron 2.4 - active printer configuration
# BigTreeTech Octopus main controller with CAN toolhead.
# The running main MCU identifies as STM32F429xx. Verify the actual board and
# Klipper build settings before reflashing instead of relying on old template notes.
#
# All active gcode macros are kept in macros.cfg.
# The Klipper SAVE_CONFIG block at the end of this file contains calibration
# data and must be preserved.

#####################################################################
# Includes
#####################################################################
[include EBBCanBus.cfg]   # CAN toolhead
[include sb_leds.cfg]      # Stealthburner LEDs
[include Nevermore.cfg]    # Nevermore filter
[include hotkey.cfg]       # Front-panel hotkeys
[include macros.cfg]       # All active macros

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[exclude_object]

[mcu]
##  Obtain definition by "ls /dev/serial/by-id/*" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f429xx_220049001250304738313820-if00
restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 5000
max_z_velocity: 20
max_z_accel: 550
square_corner_velocity: 5.0

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
rotation_distance: 39.814
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: PG6
position_min: 0
##--------------------------------------------------------------------

##  Uncomment for 300mm build
position_endstop: 300
position_max: 300

##--------------------------------------------------------------------
homing_speed: 25
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
rotation_distance: 39.814
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: PG9
position_min: 0
##--------------------------------------------------------------------

##  Uncomment for 250mm build
#position_endstop: 250
#position_max: 250

##  Uncomment for 300mm build
position_endstop: 300
position_max: 300

##--------------------------------------------------------------------
homing_speed: 25
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
 
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: PG10
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
##--------------------------------------------------------------------

##  Uncomment below for 300mm build
position_max: 280

##--------------------------------------------------------------------
position_min: -20
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Extruder
#####################################################################
 ## Extruder defined in the EBBCanBus.cfg file


#####################################################################
#  Smart Filament Sensor
#####################################################################
[filament_switch_sensor switch_sensor]
switch_pin: PG12
pause_on_runout: False
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  M117 Filament switch runout
insert_gcode:
  M117 Filament switch inserted

[filament_motion_sensor encoder_sensor]
switch_pin: PG13
detection_length: 2.88
extruder: extruder
pause_on_runout: False
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  M117 Filament encoder runout
insert_gcode:
  M117 Filament encoder inserted


#####################################################################
#   Bed Heater
#####################################################################

##  SSR Pin - HE1
##  Thermistor - TB
[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PF3
max_power: 0.6
min_temp: 0
max_temp: 120
###########################################################################
#  Bed Mesh Stuff
###########################################################################

[bed_mesh]
speed: 300
horizontal_move_z: 10
mesh_min: 40,40
mesh_max: 260,260
zero_reference_position: 150,150
fade_start: 0.6
fade_end: 10.0
probe_count: 9,9
algorithm: bicubic


##########################################################
##   SET SKEW STUFF
##########################################################
[skew_correction]



#####################################################################
#   Probe
#####################################################################

## Probe hardware is on the EBBCan toolhead MCU. Keep z_offset in this
## primary config so PROBE_CALIBRATE + SAVE_CONFIG can manage it.
[probe]
pin: ^EBBCan:gpio6
x_offset: 0
y_offset: 25.0
z_offset: 3.240
speed: 10.0
samples: 3
deactivate_on_each_sample: True
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

#####################################################################
#   Fan Control
#####################################################################

## Print cooling and hotend fans defined in EBBCanBus.cfg


##  Controller fan - FAN2

activate_gcode:
    {% set state = printer["gcode_macro _MESH_PROBE_HEATER_STATE"] %}
    {% if state.enabled|int == 1 %}
        SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=0
    {% endif %}
deactivate_gcode:
    {% set state = printer["gcode_macro _MESH_PROBE_HEATER_STATE"] %}
    {% if state.enabled|int == 1 %}
        SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={state.target|int}
    {% endif %}

[controller_fan controller_fan]
pin: PD12
kick_start_time: 0.5
heater: heater_bed
max_power: 0.60

[temperature_fan chamber]
pin: PD13
max_power: 0.7
shutdown_speed: 0.0
kick_start_time: 5.0
cycle_time: 0.01
off_below: 0.1
sensor_type: Generic 3950
sensor_pin: PF5
min_temp: 0
max_temp: 70
target_temp: 60.0
control: watermark
gcode_id: C

#####################################################################
#   LED Control
#####################################################################

[neopixel chamber]
pin: PB0
chain_count: 9
color_order: GRB
initial_RED: 1
initial_GREEN: 1
initial_BLUE: 1

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
gcode:
    STATUS_STANDBY_HOTKEY
timeout: 1800

[safe_z_home]
##  XY Location of the Z Endstop Switch
##  Update -10,-10 to the XY coordinates of your endstop pin 
##  (such as 157,305) after going through Z Endstop Pin
##  Location Definition step.
home_xy_position: 208,298
speed: 100
z_hop: 10


##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
##  to respective belt positions
[quad_gantry_level]


##  Gantry Corners for 300mm Build
##  Uncomment for 300mm build
gantry_corners:
   -60,-10
   360,370
##  Probe points
points:
   50,25
   50,225
   250,225
   250,25


#--------------------------------------------------------------------
speed: 500
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

#####################################################################
#   Displays
#####################################################################

##  mini12864 LCD Display
[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[output_pin beeper]
pin: EXP1_1
pwm: TRUE
value: 0
shutdown_value: 0
# PWM frequency : 0.001 = 1ms will give a base tone of 1kHz
cycle_time: 0.0024

##  To control Neopixel RGB in mini12864 display
[neopixel btt_mini12864]
pin: EXP1_6
chain_count: 3
initial_RED: 0.1
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB

##  Set RGB values on boot up for each Neopixel. 
##  Index 1 = display, Index 2 and 3 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
        SET_LED LED=btt_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
        SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
        SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3 
        ## Setup the nozzle LED's
        SET_NOZZLE_LEDS_OFF
        SET_LED LED=sb_leds INDEX=1 RED=0.0 GREEN=0.2 BLUE=0 WHITE=0  ## Logo to dim yellow

#--------------------------------------------------------------------

############
#  Disable Octoprint
############
[menu __main __octoprint]
type: disabled


#####################################################################
#   Macros
#####################################################################

## All active gcode macros are in macros.cfg.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 33.501
#*# pid_ki = 4.379
#*# pid_kd = 64.069
#*#
#*# [extruder]
#*#
#*# [probe]
#*#
#*# [stepper_z]
#*# position_endstop = 0.636
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 50.2
#*# shaper_type_y = mzv
#*# shaper_freq_y = 37.8
#*#
#*# [skew_correction TimSkew]
#*# xy_skew = -0.003098318017217115
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.058750, 0.041250, 0.048750, 0.031250, 0.033750, 0.018750, 0.035000, 0.033750, 0.061250
#*# 	  0.047500, 0.036250, 0.058750, 0.023750, 0.036250, 0.011250, 0.027500, 0.033750, 0.058750
#*# 	  0.060000, 0.050000, 0.046250, 0.033750, 0.041250, 0.016250, 0.030000, 0.027500, 0.058750
#*# 	  0.028750, 0.022500, 0.023750, 0.010000, 0.016250, 0.001250, 0.016250, 0.008750, 0.050000
#*# 	  0.021250, 0.013750, 0.015000, 0.000000, 0.000000, -0.018750, -0.006250, -0.010000, 0.028750
#*# 	  0.030000, 0.027500, 0.027500, 0.017500, 0.015000, -0.000000, 0.015000, 0.010000, 0.040000
#*# 	  0.028750, 0.017500, 0.015000, 0.003750, 0.002500, -0.017500, -0.003750, -0.015000, 0.017500
#*# 	  0.006250, -0.002500, -0.005000, -0.013750, -0.010000, -0.023750, -0.008750, -0.021250, 0.003750
#*# 	  0.062500, 0.050000, 0.047500, 0.032500, 0.031250, 0.020000, 0.040000, 0.032500, 0.065000
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 260.0
#*# min_y = 40.0
#*# max_y = 260.0
#*#
#*# [bed_mesh PLA_60]
#*# version = 1
#*# points =
#*# 	0.028750, 0.022500, 0.010000, 0.007500, 0.036250
#*# 	0.046250, 0.031250, 0.030000, 0.015000, 0.047500
#*# 	0.016250, 0.012500, 0.000000, -0.007500, 0.027500
#*# 	0.025000, 0.011250, 0.003750, -0.002500, 0.016250
#*# 	0.055000, 0.040000, 0.025000, 0.028750, 0.066250
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 260.0
#*# min_y = 40.0
#*# max_y = 260.0
#*#
#*# [bed_mesh ABS_110]
#*# version = 1
#*# points =
#*# 	0.030000, 0.025000, 0.013750, 0.011250, 0.035000
#*# 	0.048750, 0.035000, 0.026250, 0.012500, 0.041250
#*# 	0.016250, 0.012500, 0.000000, -0.008750, 0.022500
#*# 	0.031250, 0.016250, 0.003750, -0.003750, 0.012500
#*# 	0.057500, 0.046250, 0.032500, 0.032500, 0.060000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 260.0
#*# min_y = 40.0
#*# max_y = 260.0
